head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Sébastien Labine
body
    header
        a(href="http://sebastienlabine.com/")
            img.logo(src="sebastienlabine/img/logo.png")
        i.fa.fa-bars.fa-2x(aria-hidden='true', onclick="sideMenu()")

    #side-menu
        span.exit(onclick="sideMenu()") &#10006;
        ul
            li 
            li
                a#link(href="#skills") Skills
    .introduction
        section.presentation
            img.me(src="sebastienlabine/img/me.png")
            h1.name Sébastien Labine
            p.description Software Engineering Student
            p.school Polytechnique Montréal
        section.social-media
             ul
                li
                    a(href="https://github.com/sebastienlabine")
                        img.github(src="sebastienlabine/img/github.png")
                li
                    a(href="https://linkedin.com/in/sebastienlabine")
                        img.github(src="sebastienlabine/img/linkedin.png")
                li  
                    a(href="https://smartbills.ca/")
                        img.github(src="sebastienlabine/img/website.png")
                li
                    a(href="https://www.youtube.com/channel/UCVxsvViJpSVhUc04Uw-gUnA")
                        img.github(src="sebastienlabine/img/youtube.png")
                li  
                    a(href="files/cv.pdf")
                        img.github(src="sebastienlabine/img/cv.png")
    #skills


footer
link(rel="stylesheet", href="sebastienlabine/css/index.css")
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")
link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Lato:200,400",rel="stylesheet")
script(src="sebastienlabine/js/index.js",type="text/javascript")